[core]
	quotepath = false
	whitespace = cr-at-eol
	editor = vim
	excludesfile = ~/.gitignore_global
[user]
	name = Kazuki Koide
	email = koirand.jp@gmail.com
[fetch]
	prune = true
[pull]
	ff = only
[merge]
	ff = false
[push]
	default = current
[ghq]
	root = ~/src

