[core]
	quotepath = false
	whitespace = cr-at-eol
	editor = vim
	excludesfile = ~/.gitignore_global
[user]
	name = Kazuki Koide
	email = 17229643+koirand@users.noreply.github.com
[fetch]
	prune = true
[pull]
	ff = only
[push]
	default = current
[ghq]
	root = ~/src
[diff]
  tool = vimdiff
[init]
	defaultBranch = main
