[core]
	quotepath = false
	whitespace = cr-at-eol
	filemode = false
	editor = vim
	excludesfile = ~/.gitignore_global
[user]
	name = koirand
	email = koirand.jp@gmail.com
[fetch]
	prune = true
[pull]
	ff = only
[merge]
	ff = false
[push]
	default = current

